<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>The small but mighty!</p>
  <p><img class="pic" src="EJS/190E.jpg" /</p>
  <p>As mercedes puts it "The Best or Nothing!</p>
<%- include('../partials/footer') %>