<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>Crowned worlds fastest sedan in 1987!</p>
  <p><img class="pic" src="EJS/500E.jpg" /</p>
  <p>As mercedes puts it "The Best or Nothing!" </p>
<%- include('../partials/footer') %>