<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>This Node.js website utilizies Express.js and EJS templates to showcase different sports pages.</p>
  <p>BENZ , BENZ , BENZ! !</p>
  <p><img class="pic" src="EJS/AMG LOGO.jpg" /</p>
  <p>This Page Is About My Favortie era of Mercedes Benz.</p>
<%- include('../partials/footer') %>